<div>
  <div class="d-flex justify-content-between">
    <span>Net Total:</span>
    <span class="net-total">{{ getNetTotal() }}</span>
  </div>
  <div class="d-flex justify-content-between">
    <span>VAT:</span>
    <span class="vat-total">{{ getVatTotal() }}</span>
  </div>
  <div class="d-flex justify-content-between">
    <span>Transport:</span>
    <span class="transport-fee">{{ getTransportFee() }}</span>
  </div>
  <hr />
  <div class="d-flex justify-content-between">
    <span>Total:</span>
    <span class="total">{{ getTotal() }}</span>
  </div>
</div>
