<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <form [formGroup]="filters">
        <div class="row align-items-end">
          <div class="col">
            <label class="form-label">Name:</label>
            <input formControlName="name" type="text" class="form-control" placeholder="Product name">
          </div>
          <div class="col">
            <label class="form-label">Min Price:</label>
            <input formControlName="minPrice" type="number" class="form-control">
          </div>
          <div class="col">
            <label class="form-label">Max Price:</label>
            <input formControlName="maxPrice" type="number" class="form-control">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>

      <div class="row row-cols-1 row-cols-md-4 g-6 mt-5">
        <div class="col" *ngFor="let product of products$ | async">
          <div class="card mt-2">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{product.netPrice | currency}}</h6>
              <p class="card-text">{{product.description}}</p>
              <a href="#" class="btn btn-link">details</a>
            </div>
            <div class="card-footer text-muted text-end">
              <input type="number" value="1" class="product-card-quantity">
              <button class="btn btn-link">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col side-cart">
      side cart
    </div>
  </div>

</div>

